# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Logs
logs/
*.log
*.log.*
pids/
*.pid
*.seed
*.pid.lock

# OS-specific files
.DS_Store
Thumbs.db

# Build outputs
dist/
build/
*.tsbuildinfo

# Test outputs
coverage/
*.lcov

# Editor/IDE configurations
.idea/
.vscode/
*.swp

# Miscellaneous
.env
.env.local
.env.*.local
